.app {
  color: var(--color);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);

  .allPages {
    padding-top: 70px;
    min-height: calc(100vh - 70px);

    max-width: 1500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    text-align: center;
    width: 100%;
  }
}
